<!-- <h2>Welcome {{name}} - Account Status: {{status}}</h2>
<h3>salary : {{salary}}</h3>

<input type="text" [value]="name" (input)="OnChange($event)" />
<button [disabled]="isButtonDisabled" (click)="ButtonClick()">lcikc</button>

<input type="text" [(ngModel)]="address">

<p>{{address}}</p>

<div>
    @for (user of users; track user.name)
    {
       @if(user.salary > 1000)
       {
         <h5>Name -{{user.name}} Status: {{user.isSingle?"Coder":"Married"}} Salary :{{user.salary}}</h5>
       }
    }
</div>


<hr /> -->


<h2>Welcome {{name}} - Account Status: {{status}}</h2>
<h3>salary : {{salary}} Age: {{userAge}}</h3>

<h4>{{userName}}</h4>
